<!doctype html>
<html>
    <head>
        <title>Blog</title>
        <style type="text/css">
            .error {
                color: red;
            }

            .author {
                font-style: italic;
            }
        </style> 
    </head>
<body>
      <div>
          <a href='/logout'>Logout</a>
          <a href=/login>Login</a>
      </div>  
<a href=/blog>All blogs</a>
<a href=/newpost>Add a new post</a>
<a href='/'>All Users</a>
    {% block content %}
    {% endblock %}

</body>
</html>